[Unit]
Description = Example sender
Wants = network-online.target
After = local-fs.target network-online.target

[Service]
User = filip
WorkingDirectory =/home/filip/workspace_rbt/mpc-rbt-student
ExecStart =/home/filip/workspace_rbt/mpc-rbt-student/run_sender.sh
Restart = on-failure
RestartSec = 5
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
